@model PagedList.IPagedList<ProductToBeAuctioned>

<table class="table table-bordred table-striped">
    <thead>
        <tr>
            <th>Batch Id</th>
            <th><b>Name</b></th>
            <th><b>Manufacture Date</b></th>
            <th><b>Expiry Date</b></th>
            <th><b>Purchase Date</b></th>
            <th><b>Purchased</b></th>
            <th><b>Sold</b></th>
            <th><b>Available</b></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count>0) {
            foreach (var item in Model)
            {
                var Product = item.Batch.Product;
                var Batch = item.Batch;
                var QtyAvailable = Batch.QuantityPurchased - (Batch.QuantitySold + Batch.QuantityAuctioned + Batch.QuantityDisposedOf);
            <tr>
                <td>
                    <div>
                        @Batch.Id
                    </div>
                </td>
                <td>
                    <div class="thumb-box"> <img src="@Url.Action("GetImage1", "Products", new { id = Batch.ProductId })" alt="product Image"> </div>
                    <b>@Product.Name</b>
                </td>
                <td>@Batch.ManufactureDate.ToShortDateString()</td>
                <td>@Batch.ExpiryDate.ToShortDateString()</td>
                <td>@Batch.DateWhichInventoryWasPurchased.ToShortDateString()</td>
                <td>@Batch.QuantityPurchased</td>
                <td>@Batch.QuantitySold</td>
                <td>@QtyAvailable</td>
                <td>
                    @Html.ActionLink("Batch Info", "BatchInformation", "Batches", new { id = item.BatchId }, new { @class = "btn btn-primary btn-xs" })
                    <button class="btn btn-success btn-xs" v-on:click="showModal('@item.Id','@item.DateOfAuction','@Product.Name','@item.BatchId','@item.AuctionPrice')"><span class="ion ion-checkmark" ></span> &nbsp;&nbsp; Edit Details</button>
                </td>
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9" class="text-center text-danger">
                    <div>
                        You Do Not Have Any Upcoming Auction Schedule
                    </div>
                </td>
            </tr>
        }


        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

