@model PagedList.IPagedList<OnAuctionVM>
@{
    ViewBag.Title = "Index";
    int i = 0;
}

<div class="slides home-col-sm-12">
    <div class="container">

        <div id="flexslider" class="flexslider row">
            <ul class="slides col-sm-12">

                <!-- Sample slider with text caption -->
                <li>
                    <img src="img/banner/banner-width1.png" alt="" />
                    <p class="flex-caption">
                        <strong>CAPTION</strong><br />
                        Put any caption, description or anything here.<br /><br />
                        <a href="#" class="btn theme">$69 | BUY IT</a>
                    </p>
                </li>

                <!-- Sample slider wrapped with link -->
                <li><a href="#"><img src="img/banner/banner-width2.png" alt="" /></a></li>

                <!-- Sample normal slider -->
                <li><img src="img/banner/banner-width3.png" alt="" /></li>

            </ul>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<!-- =================== -->
<!-- Promo Banner Option -->
<!-- =================== -->
<section class="home-panel promo">
    <div class="container" style="display:block">

        @*<div class="row">
           @for (int x = 1; x < 4; x++)
           {
            <article class="col-sm-4"><a href="#"><img src="@Url.Action("GetImage1", "Products", new { Area="Managers",id = Model[x].Product.Id})"  alt="@Model[x].Product.Name" /></a></article>

           }

            
        </div>*@
    </div>
</section>

<div class="container home">

    <!-- ================ -->
    <!-- Featured section -->
    <!-- ================ -->

    <section class="feat">

        <div class="row">
            <div class="col-sm-12">

                <h6 class="subhead theme"><strong>FEATURED AUCTION ITEMS</strong></h6>

                <div class="tab-content row">

                    <!-- Feat tab -->
                    <div class="tab-pane active" id="feat">
                        @foreach (var item in Model)
                        {
                            Batch batch = item.Auction.Batch;
                            //if (i > 1)
                            //{
                            <article class="col-sm-4 product-box">
                                <div class="product-inner">
                                    <div class="view view-thumb">
                                        <div class="image"><img class="img-responsive img-container" src="@Url.Action("GetImage1", "Products", new { Area = "Managers", id = item.Product.Id })" alt="" /></div>
                                        <div class="mask">
                                            <a href="http://ninetheme.com/tender/index.php?route=product/product&amp;product_id=65"></a>
                                            <p>@item.Product.Name</p>
                                            @Html.ActionLink("View", "ViewProduct", "CustomerHome", new { id = item.Auction.Id }, new { @class = "info" })
                                            @Html.ActionLink("Buy", "AddToCart", "Cart", new { id = item.Product.Id }, new { @class = "info" })


                                            <a href="product.html" class="info">View</a> <a href="checkout.html" class="info">Buy</a>
                                        </div>
                                    </div>
                                    <h2 class="price">
                                        <span class="price-new">Store Name:</span> <span class="price-new">@(batch.Product.Store.Name)</span>
                                    </h2>
                                    <h2 class="price">
                                        <span class="price-new">Store Location:</span> <span class="price-new">@(batch.Product.Store.City +", "+batch.Product.Store.State)</span>
                                    </h2>
                                    <h2 class="price">
                                        <span class="price-old">#@item.Batch.SellingPrice</span> <span class="price-new">₦@item.Auction.AuctionPrice.ToString("n")</span>
                                    </h2>
                                    <h2 class="price">
                                        <span class="price-new">Available Units:</span> <span class="price-new">@(batch.QuantityPurchased - (batch.QuantitySold + batch.QuantityAuctioned + batch.QuantityDisposedOf))</span>
                                    </h2>
                                    <h2 class="price">
                                        <span class="price-new">Expiry Date:</span> <span class="price-new">@batch.ExpiryDate.ToShortDateString()</span>
                                    </h2>
                                    <p>
                                        @Html.ActionLink("Product Details", "ViewProduct", "CustomerHome", new { id = item.Auction.Id }, new { })
                                    </p>
                                </div>
                            </article>
                            @*}*@
                            ++i;
                        }


                        <div class="row mob-center">
                            <div class="col-sm-5">
                                <p>Showing Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</p>
                            </div>
                            <div class="col-sm-7">

                                @Html.PagedListPager(Model, page => Url.Action("Index", new
                           {
                               page = page,
                               searchTerm = ViewBag.SearchTerm,
                           }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
                                <br />



                            </div>
                        </div>

                    </div>
                </div> <!-- End tab-content -->

            </div>
        </div>


        <!-- ====== -->
        <!-- Brands -->
        <!-- ====== -->

        @*<h6 class="subhead theme brands"><strong>DESIGNER BRANDS</strong></h6>

        <div class="tab-brand">
            <div id="flexcarousel-brands" class="flexslider">
                <ul class="slides">
                    <li><img src="img/brands/branda.jpg" alt="" /></li>
                    <li><img src="img/brands/brandb.jpg" alt="" /></li>
                    <li><img src="img/brands/brandc.jpg" alt="" /></li>
                    <li><img src="img/brands/brandd.jpg" alt="" /></li>
                    <li><img src="img/brands/brande.jpg" alt="" /></li>
                    <li><img src="img/brands/brandf.jpg" alt="" /></li>
                    <li><img src="img/brands/brandg.jpg" alt="" /></li>
                    <li><img src="img/brands/brandh.jpg" alt="" /></li>
                </ul>
            </div>
        </div>*@

    </section>

</div>